{% extends 'base.html.twig' %}

{% block title %}Toutes categories{% endblock %}

{% block body %}
    <h1>Toutes les categories : </h1>
    {% for category in categories %}
        <div>
            <h2>{{category.name }}</h2>
        </div>
    {% else %}
        Aucune category trouvée.
    {% endfor %}

    <h1><a href="{{ path('category_new') }}">Ajoutez une categorie</a></h1>
    
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}