{% extends 'base.html.twig' %}

{% block title %}Nouvelle saison{% endblock %}

{% block body %}
    <h1>Créez nouvelle saison</h1>

    {{ include('season/_form.html.twig') }}

    <a href="{{ path('season_index') }}">retour a la liste</a>
{% endblock %}
