{% extends 'base.html.twig' %}

{% block title %}nouvelle serie{% endblock %}

{% block body %}
    <h1>Créez une nouvelle serie</h1>

    {{ include('program/_form.html.twig') }}

    <a href="{{ path('program_index') }}">Retour à la liste</a>
{% endblock %}
